h1 {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  font-family: "Times New Roman", "Georgia", serif;
}

h2 {
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  font-family: "Times New Roman", "Georgia", serif;
}

body {
  margin: 0;
  background-color: aliceblue;
  line-height: 1.5;
}

.page {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.pure-g {
  margin-bottom: 10px;
}

.pure-g > div {
    box-sizing: border-box; /* include padding and border in the element's total width and height calculations */
}

.chart-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    border: 1px solid lightgray;
    width: 100%;
}

#header-card {
    text-align: center;
}

#description-right {
  text-align: justify;
  line-height: 1.5;
  padding-left: 25px;
  display: flex;
  align-items: center;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

#description-left {
  text-align: justify;
  line-height: 1.5;
  padding-right: 25px;
  display: flex;
  align-items: center;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

#world_choropleth_map,
#line_chart,
#malaysia_choropleth_map,
#bump_chart,
#scatter_plot,
#population_pyramid,
#pie_chart,
#area_chart
{
  width: 100%;
}